body {
  padding: 1px;
  font-family: Arial, sans-serif;
}

h1, h2 {
  text-align: center;
}

h3 {
  font-weight: bold;
}

/* Set the table titles as initially invisible */
.lightsTitle, .facesTitle {
    display: none;
}

.lightsTitle, #lightsTable thead th {
    color: darkmagenta;
}

.facesTitle, #facesTable thead th {
    color: rgb(0, 152, 152);
}

.temperatureTitle, #temperatureTable thead th {
  color: rgb(182, 98, 2);
}


button {
  background-color: blue;
  padding: 15px 30px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkblue;
}

button:active {
  background-color: lightblue;
}

#confirmBtn {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#statusMessage, #startupMessage {
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

#startupMessage {
  background-color: rgb(255, 119, 0);
  color: white;
}

#statusMessage {
  background-color: rgb(255, 119, 0);
  color: white;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

#lightsTable, #facesTable th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#lightsTable, #facesTable th {
  background-color: darkgray;
  font-weight: bold;
}

/*#lightsTable, #facesTable tr:hover {
  background-color: #f5f5f5;
}*/

/* Style the editable cells */
#lightsTable, #facesTable td[contenteditable="true"] {
  background: #f8f8f8;
}

/* Style the dropdown cells */
#lightsTable, #facesTable td select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

/*#lightsTable, #facesTable td select:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}*/

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 5px solid black;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

#temperatureTable {
  width: 100%; /* Use 100% width to ensure the table takes the full width available. */
  border-collapse: collapse; /* Ensures borders are collapsed into single lines */
}

#temperatureTable th, td {
  background-color: darkgray;
  font-weight: bold;
  width: 80px;
  text-align: center;
}

#temperatureTable thead tr {
  height: 40px;
}

/* This will style the dropdowns inside the temperature table */
#temperatureTable td select {
width: 120%;
border: 1px solid #ccc;
padding: 1px 0;
text-align: left;
font-size: 0.75em;
}

#temperatureTable th:first-child, #temperatureTable td:first-child {
  width: 60px; /* This sets the width for the first column */
}

